*{margin: 0;padding: 0;font-size: 12px;}
a{text-decoration: none;
color: #FFFFFF;}
img{border: none;}
li{
	list-style: none;
}
input{
	height: 20px;
}
body{
	font-size: 12px;
}
#top{
	width: 100%;
	background: #303030;
  height: 76px;
  overflow: hidden;
  position: relative;
  min-width: 973px;
}
#top .logo{
	  margin-left: 30px;
		margin-top: 20px;
		width: 262px;
		height: 45px;
		float: left;
}
#top .right{
    text-align: center;
    position: absolute;
    right: 0px;
    height: 75px;
    width: 922px;
}
#top .right li{

	list-style: none;
	float: left;
	height: 82px;
}
#top .right li a{
	text-align: center;
	height: 67px;
	width: 82px;
	padding-top: 8px;
	display: block;
	color: #FFF;
	font-size: 12px;
}
#top .right li a:hover{
	background: #404040;
}
#top .right li:first-child a{
	text-align: center;
	height: 67px;
	width: 102px;
	padding-top: 8px;
	display: block;
	color: #ff0;
	font-weight: bold;
}
#top .right li a img{
	width: 40px;
	height: 35px;
	display:block;
	margin: auto;
}
#top .right li a span{
	margin-top: 6px;
  display: block;
}

/*-----nav---------*/
#nav{
	width: 100%;
	background: #575757;
	height: 41px;
	border-bottom: 1px solid #212121;
	overflow: hidden;
	min-width: 973px;
}
#nav ul{
	color: #303030;
	line-height: 40px;
	overflow: hidden;
	padding-left:20px ;
}
#nav ul li{
	float: left;
	display: block;
	height: 41px;
	line-height: 41px;
	position: relative;
}
#nav ul li a{
	  color: #FFF;
    padding: 0px 10px;
    display:inline-block;
}
#nav ul li img{
	    width: 17px;
    height: 18px;
    vertical-align: middle;
    padding-right: 10px;
}
#nav ul li .num{
	display: inline-block;
	height: 16px;
	width: 32px;
	background: red;
	color: #FFFFFF;
	border-radius:4px ;
	vertical-align: middle;
	font-size: 8px;
	text-align: center;
	line-height: 16px;
	margin-left:16px ;
}
#nav ul li .border{
	display: inline-block;
	vertical-align: middle;
	height: 13px;
  width: 0px;
	border-right: 1px solid #656565;
	border-left: 1px solid #303030;
}
#nav li a:hover{
	background: #404040;
}

#left{
	position:absolute ;
	top: 117px;
	width: 180px;
	bottom: 0;
	overflow-y: scroll;
	background: #575757;
}
#left h3{
	background: #303030;
	line-height: 33px;
	font-weight: bold;
	padding: 4px 15px 4px 18px;
	cursor: hand;
	cursor: pointer;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
}
#left ul{
	cursor: pointer;
	text-indent: 40px;
	line-height: 42px;
}
#left>ul>li{
	border-top:1px solid #7f7f7f;
	position: relative;
}
#left>ul>li span{
	display: none;
	position: absolute;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-weight: 900;
	background: #454545;
	right: 12px;
	top: 11px;
}
#left>ul>li span b{
	position: absolute;
	width: 15px;
	height: 4px;
	top:9px;
	left: 0;
	background: #dddddd;
}
#left>ul>li a{
	display: block;
	height: 42px;
	background: url(/images/bg110.png) no-repeat 5px 0;
}
#left ul li ul li{
	line-height: 30px;
	color: #d7d7d7;
}
#left ul li ul{
	display: none;
}
#left a:hover{
	background-color:#454545 ;
}
#left>ul>li:nth-child(2) a{
	background:url(/images/bg111.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(3) a{
	background:url(/images/bg112.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(4) a{
	background:url(/images/bg113.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(5) a{
	background:url(/images/bg114.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(6) a{
	background:url(/images/bg115.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(7) a{
	background:url(/images/bg116.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(8) a{
	background:url(/images/bg117.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(9) a{
	background:url(/images/bg118.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(10) a{
	background:url(/images/bg119.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(11) a{
	background:url(/images/bg120.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(12) a{
	background:url(/images/bg121.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(13) a{
	background:url(/images/bg122.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(14) a{
	background:url(/images/bg123.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(15) a{
	background:url(/images/bg124.png) no-repeat 5px 0; ;
}
#left>ul>li:nth-child(16) a{
	background:url(/images/bg124.png) no-repeat 5px 0; ;
}
#left .hover:hover{
	background-color:#454545 ;
}
#left .current .hover{
	background-color: #454545;
}
#left .current ul{
	display: block;
}
#left .current span{
	display: block;
}
#left .current ul li:hover{
	background-color: #797979;
  color: #fff;
}

#right{
	position: absolute;
	left: 180px;
	right: 0;
	top: 117px;
	bottom: 0;
	overflow: auto;
	padding: 10px;
	background: url(../images/bg14.jpg);
	min-width: 773px;	
}
#right a {
	color: #000000;
}



/*-----------------*/
#productList{
	display: block;
}
#right .head{
	border-bottom: 1px solid #ccc;
    color: #333;
    font-weight: normal;
    padding: 7px 10px;
    margin: 0 0 10px 0;
    overflow: hidden;
    position: relative;
}
#right .head h2{
	display: inline-block;
	vertical-align: middle;
}
#right .head h2 a{
	font-size: 18px;
	color: #333;
}
#right .head h2 a:hover{
	color: #EB8A3D;
	text-decoration: underline;
}
#right .head span{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
	color: #4c4c4c;
}
#right .head>a{
	display: inline-block;
	vertical-align: middle;
	margin-left:10px ;
}
#right .head b{
	height: 26px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    background: #c43926 url(../images/bg12.gif) no-repeat 6px center;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 40px;
    top: 5px;
}
#productList .search{
	background: #f3f3f3;
    border: 1px solid #ddd;
    padding: 5px;
    color: #808080;
    margin: 0 0 10px 0;
}
#productList .search div{
	height: 30px;
}
#productList .search img{
	vertical-align: middle;
	width: 26px;
    height: 22px;
}
#productList .search select{
	height: 20px;
	vertical-align: middle;
	border-radius: 0px;
    border-color: rgb(169, 169, 169);
    color: black;
    background-color: white;
    border-width: 1px;
    border-style: solid;
}
#productList .search #btn{
	padding: 5px 15px 5px;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
#productList .goodsList table{
	width: 100%;
    background: #ddd;
}
#productList .goodsList table th{
	line-height: 39px;
    background: #f3f3f3;
    white-space: nowrap;
}
#productList .goodsList table td{
	background: #fff;
    padding: 10px;
    line-height: 39px;
    text-align: center;
}
#productList .goodsList .hidden{
	display: none;
}
#productList .goodsList table td img{
	width: 16px;
	height: 16px;
}

#productList .goodsList table td:nth-of-type(2){
	text-align: left;
}
#productList .goodsList table td:last-of-type img{
	width: 21px;
	height: 21px;
}
#productList .goodsList table td span:hover{
	background: rgb(39,130,150);
}
#productList .goodsList table tr:hover td{
	background: rgb(244,250,251);
}
#right .footer{
	background: #f3f3f3;
    border: 1px solid #ddd;
    padding: 15px;
    color: #9CACAF;
    margin: 10px 0;
    text-align: center;
}
#turn-page{
	text-align: right;
}
#turn-page a:hover{
	color: #9D7250;
	text-decoration: underline;
}





#addGood{
	display: none;
}
#addGood .nav{
	background: #f3f3f3;
    border: 1px solid #d7d7d7;
    padding: 3px 1px 0 5px;
    border-bottom:none ;
    overflow: hidden;
}
#addGood .nav li{
	padding: 0 20px;
    text-align: center;
    font-size: 13px;
    float: left;
    display: block;
    float: left;
    color: #787878;
    line-height: 39px;
    cursor: pointer;
}
 #addGood .nav .current{
	background: #FFFFFF;
	color: #000;
}
 #addGood .follow{
 	padding: 10px;
    background: #fefefe;
    border: 1px solid #d7d7d7;
    border-top: none;
    border-bottom: none;
 }
 #addGood .follow .gim{
 	display: block;
 }
#addGood .follow  td:first-child{
	text-align: right;
    vertical-align: top;
    font-weight: bold;
    padding: 5px 1em;
    width: 30%;
    line-height: 30px;
}
#addGood .follow  td:first-child a{
	height: 16px;
	width: 16px;
	background: green;
	color: white;
	display: inline-block;
	text-align: center;
	line-height: 16px;
	border-radius: 50%;
}

#addGood .follow  tr:nth-of-type(7) input{
	width: 63px;
	height: 22px;
}
#addGood .follow .gim #goodID{
	width: 195px;
	height: 22px;
}
#color{
	width: 21px;
	height: 18px;
}
#font-style{
	margin: 5px 0;
	height: 20px;
}
#goodCode{
	width: 135px;
	height: 22px;
}
#right #addCategory{
	padding: 5px 15px 5px;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
#good-brand{
	width: 105px;
	height: 20px;
}
#mark{
	text-align: center;
    cursor: default;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box;
    border-width: 2px;
    margin-right: 10px;
}
#addGood .follow .gim .time input:nth-of-type(odd){
	width: 87px;
	height: 22px;
}
#addGood .follow .gim .time input:nth-of-type(even){
	height: 26px;
	padding:0 15px ;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
#addGood .describe{
	width: 100%;
	display: none;
	 
}
#addGood .describe textarea{
	width: 80%;
	height: 400px;
}
#addGood .othernews{
	display: none;
}
#addGood .property{
	display: none;
}
#addGood .pic{
	display: none;
	padding: 10px 0 0 70px;
}
#addGood .yesgoods{
	text-align: center;
    padding: 3px 10px 13px;
    background: #FFFFFF;
    border: 1px solid #d7d7d7;
    border-top: none;
  
}
#addGood .yesgoods input{
	height: 26px;
	padding: 5px 15px 5px;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
